<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Concession Revenue</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Turtle Back Zoo</a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class ="container" >
  <div class = "text-center">
    <h1> Concession Revenue </h1>
  </div>
  <div class="button-container">
    <form th:action="@{/averageRevenueForConcession}" method="post">
      <label>Enter Start Date</label><input type="date" class="form-control" name="startDate">
      <label>Enter End Date</label><input type="date" class="form-control" name="endDate">
      <button type="submit" class="btn btn-primary custom-button">Get Data</button>
    </form>
  </div>
  <div th:if="${concession != null}">
    <table class = "table table-striped table-bordered">
      <thead class = "table-dark">
      <tr>
        <th> Attraction </th>
        <th> TotalRevenue </th>
      </tr>

      <tbody>
      <tr th:each = "c: ${concession}">
        <td th:text = "${c.concession}"></td>
        <td th:text = "${c.averageRevenue}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>