<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert Animal Show</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Turtle Back Zoo</a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Insert Animal Show  </h1>
      <div class = "card-body">
        <form th:action="@{/createAnimalShow}" method="post">
          <div class ="form-group">
            <label> AS_ID </label>
            <input type = "number" name = "as_id" class = "form-control" placeholder="Enter AS_ID"/>
          </div>
          <div class ="form-group">
            <label> Senior Price </label>
            <input type = "number" name = "seniorPrice" class = "form-control" placeholder="Enter Senior Price"/>
          </div>
          <div class ="form-group">
            <label> Child Price </label>
            <input type = "number" name = "childPrice" class = "form-control" placeholder="Enter Child Price"/>
          </div>
          <div class ="form-group">
            <label> Adult Price </label>
            <input type = "number" name = "adultPrice" class = "form-control" placeholder="Enter Adult Price"/>
          </div>
          <div class ="form-group">
            <label> Per Day </label>
            <input type = "number" name = "perDay" class = "form-control" placeholder="Enter Per Day"/>
          </div>
          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>