<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Get Animal Population By Species</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Turtle Back Zoo</a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/index}">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class ="container" >
  <div class = "text-center">
    <h1> Animal Population By Species List</h1>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th> Species Name </th>
      <th> Animal Status </th>
      <th> Population </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "animal: ${animals}">
      <td th:text = "${animal.speciesName}"></td>
      <td th:text = "${animal.animalStatus}"></td>
      <td th:text = "${animal.population}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>